*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #097654;
}
.container{
    background: grey;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: baseline; */
    /* justify-content: left;
    align-items: center; */
    flex-wrap: wrap;
}
.item{
    background: #ffff00;
    margin: 10px;
    padding: 8px;
    width: 50px;
    height: 40px;
}
.item:nth-child(2){
    background: #ffff00;
    margin: 10px;
    padding: 8px;
    width: 50px;
    height: 40px;
    order: 4;
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
    /* flex-basis: 1300px; */
}

/* CSS NESTED FLEXBOX */